         .heaven h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .starters h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         s h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .main_dishes h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .desserts h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .beverages h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .about_us h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .contact_us h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }





         .work h2 {
             color: white;
             font-size: xx-large;
             text-align: center;
         }

         nav {
             text-align: left;
             color: black;
             font-weight: bolder;
         }

         nav a {
             color: white;
         }

         h3 {
             text-align: center;
             color: white;
             font-weight: bolder;
         }

         h4 {
             color: white;
             text-align: center;
             position: absolute;
             bottom: 40%;
             right: 30%;
         }

         form {
             color: white;
             text-align: center;
             position: absolute;
             bottom: 30%;
             right: 10%;
             font-weight: bolder;
         }

         footer {
             text-align: center;
             color: black;
             font-weight: bolder;
             position: absolute;
             bottom: 0%;
             width: 100%;
             max-height: 10%
         }

         footer a {
             color: white;
         }

         p {
             color: white;
             font-weight: bolder;
             position: absolute;
             left: 0%;
             bottom: 0%;
             width: 100%;
             max-height: 10%;
             display: inline-flex;
         }




