        body {
            background-image: url(media/heaven.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .heaven h2 {
            color: white;
            font-size: xx-large;
            text-align: center;
        }

        .heaven nav {
            text-align: left;
            color: black;
            font-weight: bolder;
        }

        .heaven nav a {
            color: white;
        }

        .heaven h3 {
            text-align: center;
            color: white;
            font-weight: bolder;
        }

        .heaven footer {
            text-align: center;
            color: black;
            font-weight: bolder;
            position: absolute;
            bottom: 0%;
            width: 100%;
            max-height: 10%
        }

        .heaven footer a {
            color: white;
        }

        .heaven p {
            color: white;
            font-weight: bolder;
            position: absolute;
            left: 0%;
            bottom: 0%;
            width: 100%;
            max-height: 10%;
            display: inline-flex;
        }